* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

.navbar{
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  .main-header{
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid red;
    background-color: #f5ebe0 !important;
    position: fixed;
    z-index: 1;
  }
  .navbar-brand img{
    width: 65px;
    position: absolute;
    left: 5px;
    top: 0;
    margin-bottom: 5px;
    background-color: transparent !important;
  }
  .nabar_matn span{
    display: none;
  }
  .nabar_matn{
    text-align: center;
    align-items: center;
  }
  .nabar_matn h2{
    color: rgb(20, 20, 20);
    font-size: 15px;
    padding-top: 10px;
  }
  
  #mainMenu ul {
    background-color: #f5f5f5;
  }
  #mainMenu li > a {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    color: rgb(20, 20, 20);
    padding: 2px;
    display: block;
    background-color: #f5f5f5;
    font-weight: 400;
    position: relative;
    z-index: 0;
    text-decoration: none;
  }
  
  .main-header.fixed-nav #mainMenu li > a {
    color: #fff;
    text-decoration: none;
  }
  
  /*header ends*/
  .header_bacround{
  display: block;
  margin: 120px 00px 0px 0px;
  }
  .header_bacround img{
  width: 100%;
  z-index: 55;
  }
  
  .navbar-toggler img{
    width: 20px;
    filter: invert(0.8);
  }

  .main-header{
    width: 100%;
    height: 7vh;
    border-bottom: 2px solid red;
    background-color: black;
    position: fixed;
    z-index: 1;
  }
  
  #socialicon {
    display: none;
  }
  
  #navbar {
    width: 100%;
    margin: 0;
    padding-top: 15px;
  }
  .bacroun_tex p{
    font-family: sans-serif;
    font-size: 40px;
    color: #fff;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  .bacroun_tex h1{
    color: rgb(255, 255, 255);
    font-size: 110px;
    font-family: cormarand;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  .bacroun_tex{
    display: flex;
    position: absolute;
    margin: 31%;
    z-index: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #canvas img {
    width: 100%;
  }
  #youtube img{
    margin-bottom: 25px;
  }

  .container nav {
    display: flex;
  }
  li a img{
    display: none;
  }
  .tashkil{
    padding-top: 100px;
    text-align: center;
    align-items: center;
  }
  .tashkil h1{
    color: rgb(20, 20, 20);
    font-size: 30px;
  }
  .tashkil p{
    color: rgb(20, 20, 20);
    padding: 30px;
  }
  .animat_img{
    position: absolute;
    /* top: 1000px; */
    width: 100%;
  }
  .animat_img{
    position: absolute;
    /* margin-bottom: 100px; */
    width: 100%;
  }
  .dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgb(20, 20, 20);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #f5ebe0;
  }
  .fade {
    -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .text {
    color: rgb(20, 20, 20);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .main-header.fixed-nav .navbar-brand > img:last-of-type {
    display: block;
  }
  
  .main-header.fixed-nav .navbar-brand > img:first-of-type {
    display: none;
  }
  .navbar-brand {
    color: #fff;
  }
  /* .navbar-brand img{
    width: 200px;
  } */
  .main-header .navbar-brand img {
    max-width: 80px;
    top: -8px;
    animation: fadeInLeft 0.4s both 0.4s;
  }
  
  .turlari{
    text-align: center;
    align-items: center;
    
  }
  .turlari h2{
    padding-top: 30px;
    font-family: cormarand;
    font-size: 60px;
    color: #fff;
  }
  .turlari p{
    font-family: sans-serif;
    font-size: 30px;
    padding-top: 15px;
    color: #fff;
  }
  .mySlides {
    display: none;
  }
  .mySlides img {
    vertical-align: middle;
  }
  .mySlides {display: none;}
  .mySlides img {vertical-align: middle;
  }
  @-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .login_form{
    display: block;
    width: 100%;
    height: 80vh;
    background-color: #f5f5f5;
  }
  #munyu2{
    padding-top: 30px;
    text-align: center;
  }
  #munyu2 h1{
    color: #fff;
    font-size: 55px;
  }
  #munyu2 p{
    color: #fff;
    font-size: 40px;
  }
  #munyu2 a{
    color: aliceblue;
    padding: 10px;
    font-size: 30px;
  }
  #munyu2 a img{
    width: 40px;
    padding-top: 10px;
  }
  #manzil{
    display: block;
    width: 100%;
    border-top: 1px solid red;
    text-align: center !important;
    height: 1vh;
    margin-top: 330px;
  }
  #manzil a{
    font-size: 40px;
    color: #fff;
  }
  #manzil p{
    font-size: 40px;
    color: #fff;
  }
  #manzil a img{
  width: 50px;
  }
  .manzili{
    text-align: center;
  }
  .manzili img{
    filter: invert(0.8);
  }
.pyudfon{
  color: rgb(20, 20, 20) !important;
}